/* Login Page Styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 20px;
    background-color: #4e4e4e;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
    margin: 300px auto;
  }
  
  .login-container input {
    width: 100%;
    max-width: 300px;
  }
  
  .login-container button {
    margin-top: 10px;
    width: 100%;
    max-width: 300px;
  }
  
  .login-container h1 {
    margin-bottom: 20px;
  }
  